A.WBCStyleAPCheckClearLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleAPCheckClearLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleAPCheckClearPageLink {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana,Arial,sans-serif; TEXT-DECORATION: underline
}
A.WBCStyleAPCheckClearPageLink:hover {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Verdana,Arial,sans-serif; TEXT-DECORATION: underline
}
A.WBCStyleAuthCmdsLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleAuthCmdsLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleBodyLink {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleBodyLink:hover {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleItemLink {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleItemLink:hover {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStylePostingCreationLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStylePostingCreationLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleEditSiteOpLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleEditSiteOpLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleSiteModeLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleSiteModeLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00ff00; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleSrchNavTopLink {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleSrchNavTopLink:hover {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleSrchNavBottomLink {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleSrchNavBottomLink:hover {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleTasksAssistantLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleTasksAssistantLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00ff00; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleTrailLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
A.WBCStyleTrailLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleConsole {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleDate {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleDefaultItemLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-STYLE: italic; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleForm {
	FONT-SIZE: 12px; FONT-FAMILY: Courier,monospace
}
.WBCStyleHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleItemDesc {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleModePreview {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff0000; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStylePath {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStylePropertiesForm {
	FONT-SIZE: 12px; FONT-FAMILY: Courier
}
.WBCStylePropertiesItem {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStylePropertiesItemDesc {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleSize {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleState {
	FONT-SIZE: 12px; FONT-STYLE: italic; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleStateInConsole {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleTableProperties {
	FONT-SIZE: 12px; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif
}
.WBCStyleTablePropertiesTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif
}
.WBCStyleTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleTrailSel {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff8040; FONT-FAMILY: Verdana,Arial,sans-serif
}
.WBCStyleUser {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Arial,sans-serif
}
